body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.add-m {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-container label {
  display: inline-block;
  width: 200px;
  margin-left: 40px;
}

input {
  width: 200px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  float: right;
  margin-left: 40px;
  background-color: rgb(47, 254, 10);
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none; 
}

li {
  border: solid 1px black;
  padding: 5px;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin: 0;
  margin-left: 10px;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.delete button {
  background-color: rgb(255, 34, 0);
  color: white;
  padding: 5px;
}
